body {
    background-color: #c5c5c5;
}

span{
    background-color: white;
    border-radius: 0.2em;
    font-size: 2em;
    text-align: center;
}

input {
    border-color: white;
    font-size: 2em;
    border-radius: 0.5em;
}

button {
    background-color: #6B6A74; 
    border-color:  #6B6A74; 
    border-radius: 0.5em;
    color: White;
    font-size: 1.80em;
}
